In [1]:
import re, os, math
import numpy as np
import pandas as pd
from pandas_summary import DataFrameSummary
from pandas.api.types import is_numeric_dtype
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

#### Load in data, any thing involving dates or time should be parsed with the parse_dates=['column name'] argument
#### Make a new directory and save a feather version to speed up load times

In [2]:
# df_raw = pd.read_csv('Train.csv', low_memory=False, parse_dates=["saledate"])
# os.makedirs('tmp_data', exist_ok=True)
# df_raw.to_feather('tmp_data/bulldozers-raw')

In [3]:
import feather
df_raw = feather.read_dataframe('tmp_data/bulldozers-raw')

#### How many columns are made up of non-numeric values?

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null int64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null object
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null object
fiBaseModel                 401125 non-null object
fiSecondaryDesc             263934 non-null object
fiModelSeries               56908 non-null object
fiModelDescriptor           71919 non-null object
ProductSize                 190350 non-null object
fiProductClassDesc          401125 non-null object
state                       401125 non-null object
ProductGroup                401125 non-null object
ProductGroupDesc            401125 non-null object
Drive_System                104361 non-null object
Enclosure                   400800 non-null object
Forks                       192077 non-null object
Pad_Type                    79134 non-null object
Ride_Control                148606 non-null object
Stick                       79134 non-null object
Transmission                183230 non-null object
Turbocharged                79134 non-null object
Blade_Extension             25219 non-null object
Blade_Width                 25219 non-null object
Enclosure_Type              25219 non-null object
Engine_Horsepower           25219 non-null object
Hydraulics                  320570 non-null object
Pushblock                   25219 non-null object
Ripper                      104137 non-null object
Scarifier                   25230 non-null object
Tip_Control                 25219 non-null object
Tire_Size                   94718 non-null object
Coupler                     213952 non-null object
Coupler_System              43458 non-null object
Grouser_Tracks              43362 non-null object
Hydraulics_Flow             43362 non-null object
Track_Type                  99153 non-null object
Undercarriage_Pad_Width     99872 non-null object
Stick_Length                99218 non-null object
Thumb                       99288 non-null object
Pattern_Changer             99218 non-null object
Grouser_Type                99153 non-null object
Backhoe_Mounting            78672 non-null object
Blade_Type                  79833 non-null object
Travel_Controls             79834 non-null object
Differential_Type           69411 non-null object
Steering_Controls           69369 non-null object
dtypes: datetime64[ns](1), float64(2), int64(6), object(44)
memory usage: 162.2+ MB

#### Formatting based on required cost function

In [5]:
df_raw.SalePrice = np.log(df_raw.SalePrice)

#### Converting all non-numeric values first to categories, then to category codes and saving both versions

In [6]:
def non_numeric_to_cat(dataframe):
    '''Selects all non numeric columns and turns them into categories'''
    non_numeric = dataframe.select_dtypes(exclude=['int','float','datetime']).columns
    dataframe[non_numeric] = dataframe[non_numeric].apply(lambda x: x.astype('category'))
    return dataframe
    
def non_numeric_convert(dataframe):
    '''Selects all non numeric columns and turns them into categorical codes'''
    interp_data = non_numeric_to_cat(dataframe)
    cat_cols = interp_data.select_dtypes(['category']).columns
    model_data = interp_data.copy()
    model_data[cat_cols] = interp_data[cat_cols].apply(lambda x: x.cat.codes)
    return interp_data, model_data

In [7]:
interp_data, model_data = non_numeric_convert(df_raw)

In [8]:
interp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null float64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   69639 non-null category
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null category
fiBaseModel                 401125 non-null category
fiSecondaryDesc             263934 non-null category
fiModelSeries               56908 non-null category
fiModelDescriptor           71919 non-null category
ProductSize                 190350 non-null category
fiProductClassDesc          401125 non-null category
state                       401125 non-null category
ProductGroup                401125 non-null category
ProductGroupDesc            401125 non-null category
Drive_System                104361 non-null category
Enclosure                   400800 non-null category
Forks                       192077 non-null category
Pad_Type                    79134 non-null category
Ride_Control                148606 non-null category
Stick                       79134 non-null category
Transmission                183230 non-null category
Turbocharged                79134 non-null category
Blade_Extension             25219 non-null category
Blade_Width                 25219 non-null category
Enclosure_Type              25219 non-null category
Engine_Horsepower           25219 non-null category
Hydraulics                  320570 non-null category
Pushblock                   25219 non-null category
Ripper                      104137 non-null category
Scarifier                   25230 non-null category
Tip_Control                 25219 non-null category
Tire_Size                   94718 non-null category
Coupler                     213952 non-null category
Coupler_System              43458 non-null category
Grouser_Tracks              43362 non-null category
Hydraulics_Flow             43362 non-null category
Track_Type                  99153 non-null category
Undercarriage_Pad_Width     99872 non-null category
Stick_Length                99218 non-null category
Thumb                       99288 non-null category
Pattern_Changer             99218 non-null category
Grouser_Type                99153 non-null category
Backhoe_Mounting            78672 non-null category
Blade_Type                  79833 non-null category
Travel_Controls             79834 non-null category
Differential_Type           69411 non-null category
Steering_Controls           69369 non-null category
dtypes: category(44), datetime64[ns](1), float64(3), int64(5)
memory usage: 46.2 MB

In [9]:
model_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
SalesID                     401125 non-null int64
SalePrice                   401125 non-null float64
MachineID                   401125 non-null int64
ModelID                     401125 non-null int64
datasource                  401125 non-null int64
auctioneerID                380989 non-null float64
YearMade                    401125 non-null int64
MachineHoursCurrentMeter    142765 non-null float64
UsageBand                   401125 non-null int8
saledate                    401125 non-null datetime64[ns]
fiModelDesc                 401125 non-null int16
fiBaseModel                 401125 non-null int16
fiSecondaryDesc             401125 non-null int16
fiModelSeries               401125 non-null int8
fiModelDescriptor           401125 non-null int16
ProductSize                 401125 non-null int8
fiProductClassDesc          401125 non-null int8
state                       401125 non-null int8
ProductGroup                401125 non-null int8
ProductGroupDesc            401125 non-null int8
Drive_System                401125 non-null int8
Enclosure                   401125 non-null int8
Forks                       401125 non-null int8
Pad_Type                    401125 non-null int8
Ride_Control                401125 non-null int8
Stick                       401125 non-null int8
Transmission                401125 non-null int8
Turbocharged                401125 non-null int8
Blade_Extension             401125 non-null int8
Blade_Width                 401125 non-null int8
Enclosure_Type              401125 non-null int8
Engine_Horsepower           401125 non-null int8
Hydraulics                  401125 non-null int8
Pushblock                   401125 non-null int8
Ripper                      401125 non-null int8
Scarifier                   401125 non-null int8
Tip_Control                 401125 non-null int8
Tire_Size                   401125 non-null int8
Coupler                     401125 non-null int8
Coupler_System              401125 non-null int8
Grouser_Tracks              401125 non-null int8
Hydraulics_Flow             401125 non-null int8
Track_Type                  401125 non-null int8
Undercarriage_Pad_Width     401125 non-null int8
Stick_Length                401125 non-null int8
Thumb                       401125 non-null int8
Pattern_Changer             401125 non-null int8
Grouser_Type                401125 non-null int8
Backhoe_Mounting            401125 non-null int8
Blade_Type                  401125 non-null int8
Travel_Controls             401125 non-null int8
Differential_Type           401125 non-null int8
Steering_Controls           401125 non-null int8
dtypes: datetime64[ns](1), float64(3), int16(4), int64(5), int8(40)
memory usage: 45.9 MB

#### If there is a large amount of columns, you'll get an ellipsis, display.max_columns will prevent this and show all

In [10]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [11]:
display_all(model_data.tail(3))

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
401122,6333338,9.350102,1887659,21439,149,1.0,2005,NaN,-1,2011-11-02,656,206,105,62,-1,4,16,19,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,3,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1
401123,6333341,9.104980,1903570,21435,149,2.0,2005,NaN,-1,2011-10-25,482,158,105,-1,-1,4,12,8,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,11,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1
401124,6333342,8.955448,1926965,21435,149,2.0,2005,NaN,-1,2011-10-25,482,158,105,-1,-1,4,12,8,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,11,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1

In [12]:
display_all(interp_data.tail(3))

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
401122,6333338,9.350102,1887659,21439,149,1.0,2005,NaN,NaN,2011-11-02,35NX2,35,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Maryland,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401123,6333341,9.104980,1903570,21435,149,2.0,2005,NaN,NaN,2011-10-25,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
401124,6333342,8.955448,1926965,21435,149,2.0,2005,NaN,NaN,2011-10-25,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [34]:
model_data.fillna(int(-1),inplace=True)

In [35]:
model_data.tail(3)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
401122,6333338,9.350102,1887659,21439,149,1.0,2005,-1.0,-1,656,...,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9.104980,1903570,21435,149,2.0,2005,-1.0,-1,482,...,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,8.955448,1926965,21435,149,2.0,2005,-1.0,-1,482,...,25,1,298,False,False,False,False,False,False,1319500800

#### Add datepart is a feature engineering function that will check for things like end of month or year, etc.

In [13]:
def add_datepart(df, fldname, drop=True, time=False, errors="raise"):   
    """add_datepart converts a column of df from a datetime64 to many columns containing
    the information from the date. This applies changes inplace.

    Parameters:
    -----------
    df: A pandas data frame. df gain several new columns.
    fldname: A string that is the name of the date column you wish to expand.
        If it is not a datetime64 series, it will be converted to one with pd.to_datetime.
    drop: If true then the original date column will be removed.
    time: If true time features: Hour, Minute, Second will be added.

    Examples:
    ---------

    >>> df = pd.DataFrame({ 'A' : pd.to_datetime(['3/11/2000', '3/12/2000', '3/13/2000'], infer_datetime_format=False) })
    >>> df

        A
    0   2000-03-11
    1   2000-03-12
    2   2000-03-13

    >>> add_datepart(df, 'A')
    >>> df

        AYear AMonth AWeek ADay ADayofweek ADayofyear AIs_month_end AIs_month_start AIs_quarter_end AIs_quarter_start AIs_year_end AIs_year_start AElapsed
    0   2000  3      10    11   5          71         False         False           False           False             False        False          952732800
    1   2000  3      10    12   6          72         False         False           False           False             False        False          952819200
    2   2000  3      11    13   0          73         False         False           False           False             False        False          952905600
    """
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True, errors=errors)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [14]:
add_datepart(interp_data, 'saledate')
add_datepart(model_data, 'saledate')

In [36]:
display_all(model_data.tail(3))

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleWeek,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
401122,6333338,9.350102,1887659,21439,149,1.0,2005,-1.0,-1,656,206,105,62,-1,4,16,19,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,3,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1,2011,11,44,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9.104980,1903570,21435,149,2.0,2005,-1.0,-1,482,158,105,-1,-1,4,12,8,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,11,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1,2011,10,43,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,8.955448,1926965,21435,149,2.0,2005,-1.0,-1,482,158,105,-1,-1,4,12,8,3,3,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,11,-1,-1,-1,-1,-1,2,-1,-1,-1,1,18,28,2,1,0,-1,-1,-1,-1,-1,2011,10,43,25,1,298,False,False,False,False,False,False,1319500800

In [16]:
display_all(interp_data.tail(3))

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleWeek,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
401122,6333338,9.350102,1887659,21439,149,1.0,2005,NaN,NaN,35NX2,35,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Maryland,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,11,44,2,2,306,False,False,False,False,False,False,1320192000
401123,6333341,9.104980,1903570,21435,149,2.0,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,10,43,25,1,298,False,False,False,False,False,False,1319500800
401124,6333342,8.955448,1926965,21435,149,2.0,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,10,43,25,1,298,False,False,False,False,False,False,1319500800

### Separating dependent and independent values

In [37]:
X,y = model_data.drop('SalePrice',axis=1), model_data['SalePrice']

### We now have data we can feed into a model!

In [42]:
model = RandomForestRegressor()
model.fit(X,y)
model.score(X,y)

0.9831065526989887

In [44]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 12000  # same as Kaggle's test set size
n_trn = len(X)-n_valid
raw_train, raw_valid = split_vals(interp_data, n_trn)
X_train, X_valid = split_vals(X, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((389125, 64), (389125,), (12000, 64))

In [45]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [46]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 1min 46s, sys: 1.3 s, total: 1min 47s
Wall time: 36.9 s
[0.09049616524415596, 0.2565003572908813, 0.9828842797691469, 0.8825037724941752]

# Speeding things up by taking a subsample
### Need to code this:
#### 'subset=30000'

In [ ]:
df_trn, y_trn, nas = proc_df(df_raw, 'SalePrice', subset=30000, na_dict=nas)
X_train, _ = split_vals(df_trn, 20000)
y_train, _ = split_vals(y_trn, 20000)